@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

body, div, section, header, footer, main, article {
  @apply transition-colors duration-300 ease-in-out;
}

h1, h2, h3, h4, h5, h6, p {
  cursor: default;
}

a {
    cursor: pointer;
}

:root {
  --dark-text-color: white;
  --light-text-color: #212121;
}

/* Custom drop shadow utilities */
.drop-shadow-text-sm {
  filter: drop-shadow(0 1px 2px rgb(0 0 0 / 0.8));
}

/* Swiper pagination customization */
.featured-posts-swiper .swiper-pagination {
  bottom: -5px !important;
  position: relative !important;
}

/* Scrollbar Styling */

/* Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: #29282b #e5e5e5;
}
