@import "tailwindcss";
@plugin "@tailwindcss/typography";
/* @import "~bootstrap/scss/bootstrap"; */

@custom-variant dark (&:where(.dark, .dark *));

body, div, section, header, footer, main, article {
  @apply transition-colors duration-300 ease-in-out;
}

h1, h2, h3, h4, h5, h6, p {
  cursor: default;
}

a {
    cursor: pointer;
}

:root {
  --dark-text-color: white;
  --light-text-color: #212121;
}

/* Custom drop shadow utilities */
.drop-shadow-text-sm {
  filter: drop-shadow(0 1px 2px rgb(0 0 0 / 0.8));
}

.drop-shadow-text-md {
  filter: drop-shadow(0 2px 4px rgb(0 0 0 / 0.8));
}

.drop-shadow-text-lg {
  filter: drop-shadow(0 4px 8px rgb(0 0 0 / 0.8));
}

.drop-shadow-glow {
  filter: drop-shadow(0 0 10px rgb(147 121 204 / 0.7));
}

.drop-shadow-glow-blue {
  filter: drop-shadow(0 0 10px rgb(18 114 204 / 0.7));
}

/* !!! NOT WORKING !!! */
.md\:flex-row-reverse {
    @media (width >= 60rem /* 768px */) {
        flex-direction: row-reverse;
    }
}